# Visual Studio build files
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS upgrade logs
UpgradeLog*.htm
UpgradeLog*.XML

# Test settings
testResults/
TestResults/
*.trx
*.coverage
*.coveragexml
.vs/

# Local config
*.local.json
*.env
testEnvironments.json

# OS junk
Thumbs.db
.DS_Store
